*{
    margin: 0px;
    padding: 0px;
}
.michen{
    width: 600px;
    margin-left: 500px;
    margin-top: 100px;
}

.trusov{
    width: 400px;
    margin-top: -450px;
    margin-left: -1125px;
}